<!DOCTYPE html>
<html>
<head>
    <title>{{name}}} | {{title}}}</title>
    <style type="text/css">
        {{> style-inline}}
    </style>
</head>
<body>
<div id="contact">

  <h2>{{name}}}</h2>
  <h3>{{title}}</h3>

  <ul>
    {{#each social}}
    <li class="social icon {{@key}}"><a href="{{this}}">{{.}}</a></li>
    {{/each}}
  </ul>

  <ul>
    <li><a href="mailto:{{email}}">{{email}}</a></li>
    <li>{{phone}}</li>
  </ul>

  <p class="summary">
    {{summary}}
  </p>

</div>
<div id="resume">

  {{#inline 'content/*.hbs'}}
  {{#each pages}}
  <section id="{{basename src}}">
    <h1>{{title}}</h1>
    {{#markdown}}{{page}}{{/markdown}}
  </section>
  {{/each}}
  {{/inline}}

  <section id="employment">
    <h1>Employment</h1>
    {{#inline 'content/work-experience/*.*'}}
    {{#each pages}}
      <article id="{{basename src}}">
        <h2>{{this.company}} <span class="location">{{this.location}}</span></h2>
        <h3>{{this.position}} <span class="time">{{this.dates}}</span></h3>
        {{#markdown}}{{this.page}}{{/markdown}}
      </article>
    {{/each}}
    {{/inline}}
  </section>

</div>
<!--

{{> body}}

-->
</body>
</html>
