<!DOCTYPE html>
<html>
<head>
<title>{{name}}} | {{title}}}</title>
<!--

{{> body}}

-->
<link rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Roboto:300,100,300italic&subset=latin,latin-ext"
      type ="text/css" />
<style type="text/css" media="all">
{{> style-all}}
</style>
</head>
<body>

<div id="contact" class="corner-box">

  <header class="hgroup">
      <h1>{{name}}}</h1>
      <h3>{{title}}</h3>
  </header>

  <ul>
    {{#each social}}
    <li class="social icon {{@key}}"><a href="{{this}}">{{.}}</a></li>
    {{/each}}
  </ul>

  <ul>
    <li><a href="mailto:{{email}}">{{email}}</a></li>
    <li>{{phone}}</li>
  </ul>

  <p class="summary">
    {{summary}}
  </p>

</div>

{{#if skills}}
<div id="skills" class="corner-box">
  <header class="hgroup">
      <h3>Skills and Interests</h3>
  </header>
  {{#each skills}}
  <aside class="skill-description">
      <h2>{{@key}}</h2>
          <ul class="skills-cloud">
              {{#each this}}<li alt="{{@key}}">{{this}}</li>{{/each}}
          </ul>
  </aside>
  {{/each}}
</div>
{{/if}}

<div id="resume">

  {{#inline 'content/*.hbs'}}
  {{#each pages}}
  <section id="{{basename src}}">
    <h1>{{title}}</h1>
    {{#markdown}}{{page}}{{/markdown}}
  </section>
  {{/each}}
  {{/inline}}

  <section id="employment">
    <h1>Employment</h1>
    {{#inline 'content/work-experience/*.*'}}
    {{#each pages}}
      <article id="{{basename src}}">
        <h2>{{this.company}} <span class="location">{{this.location}}</span></h2>
        <h3>{{this.position}} <span class="time">{{this.dates}}</span></h3>
        {{#markdown}}{{this.page}}{{/markdown}}
      </article>
    {{/each}}
    {{/inline}}
  </section>

</div>

<style type="text/css" media="screen">
    {{> style-screen}}
</style>

<style type="text/css" media="print">
    {{> style-print}}
</style>
</body>
</html>
